<!-- <app-nav></app-nav>

<p *ngFor="let receta of recetas">recipe-adm works!</p> -->

<app-nav></app-nav>

<!-- <div class="container my-5">
    <h1 class="text-center mb-4">Recetas del sistema</h1>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let receta of recetas">
            <div class="card h-100">
                <img [src]="receta.img_ruta" class="card-img-top" alt="{{ receta.nombre }}">
                <div class="card-body">
                    <p>ID: {{ receta.id }}</p>
                    <h5 class="card-title">Nombre de la receta: {{ receta.nombre }}</h5>
                    <p class="card-text">Descripción: {{ receta.descripcion }}</p>
                    <p class="card-text">Autor: {{ receta.autor }}</p>
                    <p class="card-text">Tipo de cocina: {{ receta.tipo_cocina }}</p>
                    <p class="card-text">País de origen: {{ receta.pais_origen }}</p>
                    <p class="card-text">Dificultad: {{ receta.dificultad }}</p>
                    <button type="button" (click)="detalleReceta(receta.id)" class="btn btn-outline-success">Ver Detalle</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container my-5">
    <h1 class="text-center mb-4">Recetas del Sistema</h1>
    <table class="table table-bordered table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de Creación</th>
            <th>Descripción</th>
            <th>Autor</th>
            <th>Tipo de Cocina</th>
            <th>País de Origen</th>
            <th>Dificultad</th>
            <th>Acción</th>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receta of recetas">
            <td>{{ receta.id_recipe }}</td>
            <td>{{ receta.nombre }}</td>
            <td>{{ receta.fecha_creacion }}</td>
            <td>{{ receta.descripcion }}</td>
            <td>{{ receta.idUser }}</td>
            <td>{{ receta.tipo_cocina }}</td>
            <td>{{ receta.pais_origen }}</td>
            <td>{{ receta.dificultad }}</td>
            <td>
                <button type="button" (click)="detalleReceta(receta.id_recipe)" class="btn btn-success" >Ver</button>
                <button type="button" (click)="deleteReceta(receta.id_recipe)" class="btn btn-outline-danger" ><b>X</b></button>
            </td>
    
          </tr>
        </tbody>
      </table>
  
</div>

<hr>

<div class="container my-5" *ngIf="!actualiza">
    <h1 class="text-center mb-4">Nueva Receta</h1>
    <form [formGroup]="n_receta_form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input id="nombre" formControlName="nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="idUser">Autor:</label>
            <input id="idUser" formControlName="idUser" class="form-control" />
        </div>
        <div class="form-group">
            <label for="tipo_cocina">Tipo de Cocina:</label>
            <input id="tipo_cocina" formControlName="tipo_cocina" class="form-control" />
        </div>
        <div class="form-group">
            <label for="pais_origen">País de Origen:</label>
            <input id="pais_origen" formControlName="pais_origen" class="form-control" />
        </div>
        <div class="form-group">
            <label for="dificultad">Dificultad:</label>
            <input type="text" id="dificultad" formControlName="dificultad" class="form-control" />
        </div>
        <div class="form-group">
            <label for="img_ruta">URL de la Imagen:</label>
            <input id="img_ruta" formControlName="img_ruta" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="n_receta_form.invalid">Agregar</button>
        <button type="button" (click)="limpiarFormN()" class="btn btn-outline-warning">Limpiar Formulario</button>
    </form>
</div>

<div class="container my-5" *ngIf="actualiza">
    <h1 class="text-center mb-4">Detalle de la Receta</h1>
    <form [formGroup]="receta_det_form">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input id="nombre" formControlName="nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="idUser">Autor:</label>
            <input id="idUser" formControlName="idUser" class="form-control" />
        </div>
        <div class="form-group">
            <label for="tipo_cocina">Tipo de Cocina:</label>
            <input id="tipo_cocina" formControlName="tipo_cocina" class="form-control" />
        </div>
        <div class="form-group">
            <label for="pais_origen">País de Origen:</label>
            <input id="pais_origen" formControlName="pais_origen" class="form-control" />
        </div>
        <div class="form-group">
            <label for="dificultad">Dificultad:</label>
            <input id="dificultad" formControlName="dificultad" class="form-control" />
        </div>
        <div class="form-group">
            <label for="img_ruta">URL de la Imagen:</label>
            <input id="img_ruta" formControlName="img_ruta" class="form-control" />
        </div>
        <button type="button" (click)="actualizaReceta()" class="btn btn-info" >Actualizar</button>
        <button type="button" (click)="limpiarFormN()" class="btn btn-outline-warning" [disabled]="receta_det_form.invalid">Limpiar Formulario</button>
    </form>
</div>
<hr><hr>
<!-- 
    CON LOS FORMULARIOS REACTIVOS NOS EVITAMOS DE TENER DOS FORMULARIOS HTML COMO ESTA AQUI ...
    PODEMOS FACILMENTE UTILIZAR UN SOLO FORMULARIO PERO PARA MAS ADELANTE SE REFACTORIZA ESO XXXXDDDDDDDD
-->
